body {
  background-color: #0d0d0d;
  color: #f1f1f1;
  font-family: "Inter", sans-serif;
}
header {
  background: linear-gradient(0deg, #00000000, #333333);
}
h1,
h2,
p,
li {
  color: #ffffff;
}

.card {
  background-color: #1a1a1a;
  border: 1px solid #2c2c2c;
  color: #ffffff;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
  transition: transform 0.3s;
}
.card:hover {
  transform: translateY(-5px);
}
footer {
  color: #777;
}
img {
  width: 50vw;
  max-width: 50vh;
  height: auto;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
